<!DOCTYPE html>
<html>

<header>
    <title>Manager Bank System</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/utils.css">
    <div class="container">
            <div class="overlay"></div>
    </div>
</header>

<body class="body">
    <!--navbar creation-->
    <nav class="navbar navbar-expand-md fixed-top">
            <a class="navbar-brand" href="manager">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
         <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav mr-2">
                
                <li class="nav-item">
                  <a class="nav-link" href="branch">Branch</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="employer">Employer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="customer">Customer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="account">Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="loan">Loan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="statistic">Statistic</a>
                </li>              
              </ul>             
        </div>
    </nav>

   <!-- data view & option secton -->
   <h1 class="text-center" id="branch">Account Management</h1>
   <div class="container">
     <form action="branch" method="post">
       <div class="row" style="margin-top:3em;">
         <!-- data view section-->
         <div class="col-lg-6 col-md-6 col-sm-12">
             <table class="table table-hover">
              <thead>
                <tr>
                  <th>Branch Name</th>
                  <th>Branch Location</th>
                </tr>
              </thead>
              <tbody>
                {% for b in branches %}
                <tr>
                  <td>{{b.支行名}}</td>
                  <td>{{b.所在城市}}</td>
                </tr>
                {% else %}
                <tr>
                  <td>No Result</td>
                  <td>No Result</td>
                </tr>
                {% endfor %}
              </tbody>
             </table>
         </div>
         <!-- manager optional section -->
         <div class="col-lg-3 col-md-3 col-sm-12">
           <h3>Exist Form</h3>
           <div class="form-group">
               <label for="existBranchName">Exist Branch Name</label>
               <input name="existName" type="text" class="form-control" id="existBranchName" placeholder="Enter employer ID">
               <small id="existHelp" class="form-text text-muted">Only for search, update, delete</small>
           </div>
           <div class="form-group">
               <label for="existBranchLocation">Exist Branch Location</label>
               <input name="existLoc" type="text" class="form-control" id="existBranchLocation" placeholder="Enter employer name">
               <small id="existHelp" class="form-text text-muted">Only for search, update, delete</small>
           </div>
           <div class="form-group">
               <label for="manageOption">Manage Option</label>
               <select name="option" class="form-control" id="manageOption">
                   <option>Search</option>
                   <option>Create</option>
                   <option>Update</option>
                   <option>Delete</option>
               </select>
           </div>
         </div>
         <div class="col-lg-3 col-md-3 col-sm-12">
           <h3>Update Form</h3>
           <div class="form-group">
               <label for="newBranchName">New Branch Name</label>
               <input name="newName" type="text" class="form-control" id="newBranchName" placeholder="Enter employer ID">
               <small id="createHelp" class="form-text text-muted">Only for create, update</small>
           </div>
           <div class="form-group">
               <label for="newBranchLocation">New Branch Location</label>
               <input name="newLoc" type="text" class="form-control" id="newBranchLocation" placeholder="Enter employer name">
               <small id="createHelp" class="form-text text-muted">Only for create, update</small>
           </div>
           <button type="submit" class="btn btn-primary" style="margin-top:2em;">Submit</button>
         </div>
       </div>
     </form>
   </div>


    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../static/js/utils.js"></script>
</body>

</html>