<!DOCTYPE html>
<html>

<header>
    <title>Manager Bank System</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/utils.css">
    <div class="container">
        <div class="overlay"></div>
    </div>
    <script language="javascript">
        if({{res}})
            alert('{{submitRes}}');
    </script>
</header>

<body class="body">
    <!--navbar creation-->
    <nav class="navbar navbar-expand-md fixed-top">
            <a class="navbar-brand" href="manager">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
         <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav mr-2">
                
                <li class="nav-item">
                  <a class="nav-link" href="branch">Branch</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="employer">Employer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="customer">Customer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="account">Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="loan">Loan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="statistic">Statistic</a>
                </li>              
              </ul>             
        </div>
    </nav>

    <!-- data view & option secton -->
    <h1 class="text-center" id="employer">Account Management</h1>
    <div class="container">
      <form action="employer" method="post">
        <div class="row" style="margin-top:3em;">
          <!-- data view section-->
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>部门号</th>
                    <th>姓名</th>
                    <th>地址</th>
                    <th>电话</th>
                    <th>入职</th>
                  </tr>
                </thead>
                <tbody>
                  {% for emp in employers %}
                  <tr>
                     <td>{{emp.身份证}}</td>
                     <td>{{emp.部门号}}</td>
                     <td>{{emp.姓名}}</td>
                     <td>{{emp.家庭地址}}</td>
                     <td>{{emp.电话号码}}</td>
                     <td>{{emp.开始工作日期}}</td>
                  </tr>
                  {% else %}
                  <tr>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                    <td>--</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <!-- manager optional section -->
          <div class="col-lg-3 col-md-3 col-sm-12">
            <h3>Exist Form</h3>
            <div class="form-group">
                <label for="existEmployerID">Exist Employer ID</label>
                <input name="existID" type="text" class="form-control" id="existEmployerID" placeholder="Enter employer ID">
                <small id="existHelp" class="form-text text-muted">Only for search, update, delete</small>
            </div>
            <div class="form-group">
                <label for="existEmployerName">Exist Employer Name</label>
                <input name="existName" type="text" class="form-control" id="existEmployerName" placeholder="Enter employer name">
                <small id="existHelp" class="form-text text-muted">Only for search, update, delete</small>
            </div>
            <div class="form-group">
                <label for="existEmployerAddr">Exist Employer Address</label>
                <input name="existAddr" type="text" class="form-control" id="existEmployerAddr" placeholder="Enter employer address">
                <small id="existHelp" class="form-text text-muted">Only for search, update, delete</small> 
            </div>
            <div class="form-group">
                <label for="existEmployerPhone">Exist Employer Phone</label>
                <input name="existPhone" type="text" class="form-control" id="existEmployerPhone" placeholder="Enter employer phone">
                <small id="existHelp" class="form-text text-muted">Only for search, update, delete</small> 
            </div>
            <div class="form-group">
                <label for="existDepartNum">Exist Employer Department Num.</label>
                <input name="existDepartNum" type="text" class="form-control" id="existDepartNum" placeholder="Enter department number">
                <small id="existHelp" class="form-text text-muted">Only for search, update, delete</small> 
            </div>
            <div class="form-group">
                <label for="existEmployerTime">Exist Employer Start Working</label>
                <input name="existWorkTime" type="text" class="form-control" id="existEmployerTime" placeholder="Enter job taking time">
                <small id="existHelp" class="form-text text-muted">Only for search, update, delete</small> 
            </div>
            <div class="form-group">
                <label for="manageOption">Manage Option</label>
                <select name="option" class="form-control" id="manageOption">
                    <option>Search</option>
                    <option>Create</option>
                    <option>Update</option>
                    <option>Delete</option>
                </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
            <h3>Update Form</h3>
            <div class="form-group">
                <label for="newEmployerID">New Employer ID</label>
                <input name="newID" type="text" class="form-control" id="newEmployerID" placeholder="Enter employer ID">
                <small id="createHelp" class="form-text text-muted">Only for create, update</small>
            </div>
            <div class="form-group">
                <label for="newEmployerName">New Employer Name</label>
                <input name="newName" type="text" class="form-control" id="newEmployerName" placeholder="Enter employer name">
                <small id="createHelp" class="form-text text-muted">Only for create, update</small>
            </div>
            <div class="form-group">
                <label for="newEmployerAddr">New Employer Address</label>
                <input name="newAddr" type="text" class="form-control" id="newEmployerAddr" placeholder="Enter employer address">
                <small id="createHelp" class="form-text text-muted">Only for create, update</small>
            </div>
            <div class="form-group">
                <label for="newEmployerPhone">New Employer Phone</label>
                <input name="newPhone" type="text" class="form-control" id="newEmployerPhone" placeholder="Enter employer phone">
                <small id="createHelp" class="form-text text-muted">Only for create, update</small>
            </div>
            <div class="form-group">
                <label for="newDepartNum">New Employer Department Num.</label>
                <input name="newDepartNum" type="text" class="form-control" id="newDepartNum" placeholder="Enter department number">
                <small id="createHelp" class="form-text text-muted">Only for create, update</small>
            </div>
            <div class="form-group">
                <label for="newEmployerTime">New Employer Start Working</label>
                <input name="newWorkTime" type="text" class="form-control" id="newEmployerTime" placeholder="Enter job taking time">
                <small id="createHelp" class="form-text text-muted">Only for create, update</small>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top:2em;">Submit</button>
          </div>
        </div>
      </form>
    </div>


    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../static/js/utils.js"></script>
</body>

</html>