<!DOCTYPE html>
<html>

<header>
    <title>Manager Bank System</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/utils.css">
    <script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../static/js/highcharts.js"></script>
    <script type="text/javascript" src="../static/js/highcharts-3d.js"></script>
    <div class="container">
        <div class="overlay"></div>
    </div>
</header>

<body class="body">
    <!--navbar creation-->
    <nav class="navbar navbar-expand-md fixed-top">
            <a class="navbar-brand" href="manager">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
         <div class="collapse navbar-collapse " id="navbarSupportedContent">
              <ul class="navbar-nav mr-2">
                
                <li class="nav-item">
                  <a class="nav-link" href="branch">Branch</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="employer">Employer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="customer">Customer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="account">Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="loan">Loan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="statistic">Statistic</a>
                </li>              
              </ul>             
        </div>
    </nav>
    <!--Dashboad-->
    <div class="container">
      <div class="row" style="margin-top:5em;">
        <div class="col-lg-6 col-md-6">
          <div id="pie1" style="width: 450px; height: 350px; margin: 0 auto"></div>
          <script language="Javascript">
            $(document).ready(function(){
              var chart = {
                type: 'pie',
                backgroundColor: 'rgb(0,0,0,0)',
                options3d: {
                  enabled: true,
                  alpha: 45
                }
              };
              var title = {
                text: '账号类型分布'
              };
              var plotOptions = {
                pie: {
                  innerSize: 100,
                  depth: 45
                }
              };
              var series = [{
                name: '账号类型',
                data: [
                  ['储蓄账户', {{savingNum}}],
                  ['支票账户', {{creditNum}}]
                ]
              }];
              var credits = {
                enabled: false
              };
              var json = {};
              json.chart = chart;
              json.title = title;
              json.plotOptions = plotOptions;
              json.series = series;
              json.credits = credits
              $('#pie1').highcharts(json);
            });
          </script>
        <div id="column2" style="width: 450px; height: 350px; margin: 0 auto"></div>
            <script language="JavaScript">
              $(document).ready(function() {  
                 var chart = {
                    type: 'column',
                    backgroundColor: 'rgb(0,0,0,0)'
                 };
                 var title = {
                    text: '银行财务统计'   
                 };
                 var xAxis = {
                    categories: ['存款总数', '贷款总数'],
                    crosshair: true
                 };
                 var yAxis = {
                    min: 0,
                    title: {
                       text: '人命币(万)'         
                    }      
                 };
                 var tooltip = {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                       '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                 };
                 var plotOptions = {
                    column: {
                       pointPadding: 0.2,
                       borderWidth: 0
                    }
                 };  
                 var credits = {
                    enabled: false
                 };
                 
                 var series= [{
                      name: "Zhiqi's Bank",
                          data: [{{balanceNum}},{{loanNum}}]
                      }
                 ];     
                 var json = {};   
                 json.chart = chart; 
                 json.title = title;   
                 json.tooltip = tooltip;
                 json.xAxis = xAxis;
                 json.yAxis = yAxis;  
                 json.series = series;
                 json.plotOptions = plotOptions;  
                 json.credits = credits;
                 $('#column2').highcharts(json);
              });
            </script>
            </div>
        <div class="col-lg-6 col-md-6">
            <div id="column1" style="width: 450px; height: 350px; margin: 0 auto"></div>
            <script language="JavaScript">
              $(document).ready(function() {  
                 var chart = {
                    type: 'column',
                    backgroundColor: 'rgb(0,0,0,0)'
                 };
                 var title = {
                    text: '银行数据统计'   
                 };
                 var xAxis = {
                    categories: ['员工总数', '顾客总数', '支行总数'],
                    crosshair: true
                 };
                 var yAxis = {
                    min: 0,
                    title: {
                       text: '数量(个)'         
                    }      
                 };
                 var tooltip = {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                       '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                 };
                 var plotOptions = {
                    column: {
                       pointPadding: 0.2,
                       borderWidth: 0
                    }
                 };  
                 var credits = {
                    enabled: false
                 };                
                 var series= [{
                    name: "Zhiqi's Bank",
                    data: [{{employerNum}},{{customerNum}},{{branchNum}}]
                 }];     
                 var json = {};   
                 json.chart = chart; 
                 json.title = title;   
                 json.tooltip = tooltip;
                 json.xAxis = xAxis;
                 json.yAxis = yAxis;  
                 json.series = series;
                 json.plotOptions = plotOptions;  
                 json.credits = credits;
                 $('#column1').highcharts(json);
              });
            </script>
            <div id="column3" style="width: 450px; height: 350px; margin: 0 auto"></div>
            <script language="JavaScript">
              $(document).ready(function() {  
                 var chart = {
                    type: 'column',
                    backgroundColor: 'rgb(0,0,0,0)'
                 };
                 var title = {
                    text: '各支行数据统计'   
                 };
                 var xAxis = {
                    categories: ['员工数量'],
                    crosshair: true
                 };
                 var yAxis = {
                    min: 0,
                    title: {
                       text: '数量(个)'         
                    }      
                 };
                 var tooltip = {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                       '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                 };
                 var plotOptions = {
                    column: {
                       pointPadding: 0.2,
                       borderWidth: 0
                    }
                 };  
                 var credits = {
                    enabled: false
                 };                
                 var series= [
                    //name: "Zhiqi's Bank",
                    //data: [{{employerNum}},{{customerNum}},{{branchNum}}]
                    {% for bs in branchStats %}
                    {
                      name: '{{bs.branchName}}',
                      data: [{{bs.empNum}}]
                    },
                    {% endfor %}
                 ];
                 var json = {};   
                 json.chart = chart; 
                 json.title = title;   
                 json.tooltip = tooltip;
                 json.xAxis = xAxis;
                 json.yAxis = yAxis;  
                 json.series = series;
                 json.plotOptions = plotOptions;  
                 json.credits = credits;
                 $('#column3').highcharts(json);
              });
            </script>
        </div>
      </div>
    </div>
    
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/utils.js"></script>
</body>

</html>